@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilites;

body {
  /*@apply bg-gray-900 text-slate-900;*/
}
@theme {
  --color-custom1: #273343;
  --color-custom2: #9197ae;
  --color-custom3: #d8daeb;
  /* #002642;#840032;#E59500; RedBlueOrange first schema*/
  /* #273043;#9197ae;#eff6ee Gray Minimalist Serenity 1*/
  /*5a5353 a07178 e6ccbe Misty Rosewood 1*/
  /*#32325c #8a3d3d; #FFFDF0;*/
  /*#302323; 755151 #e6ccbe 1*/
  /*#174A34; 527F6B #bff2dd 1*/
}